.bulma_container__3NasN {
  .styles_cvContainer__2q1j9 {
    .bulma_hero__1bjCM.bulma_is-primary__1jh74 {
      background-color: #1d1d81;
    }
    .bulma_tags__2A1Hc {
      margin: 15px 0 10px 0;
    }
  }
}

.language-select {
  float: right;
  position: relative;
  right: 500px;
}
